$width: 10%;
$height: $width;


*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  border: #000000 solid 3px;
  display: flex;
  flex-direction: column;
  background-color: #be926f;
  width: 40%;
}
.row{
  display: flex;

}
.cell{
  width: 12.5%;
  padding: 6.25% 0;
}
.cell:nth-child(even){
  background-color: #676749
}
.row:nth-child(even) {
  flex-direction: row-reverse;
}
